@import 'tailwindcss';


@theme{
    --color-rosepink: #e11d48;
    --color-zinc: #27272a;
    --color-white: #e5e7eb;
    --color-darkpink: #9d174d;
    --color-lightpink: #fce7f3;
    --color-arrowpink: #db2777;
}
